@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Smooch+Sans&display=swap');

/*

font-family: 'Fredoka', sans-serif;
font-family: 'Smooch Sans', sans-serif;

*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  font-size: 100%;
  background: linear-gradient(to left, #16222a, #3a6073); 
}

.cabecalho{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   background-color: #16222a;
}
.cabecalho-imagem{
  height: 72px;
}
.cabecalho-menu{
  display: flex;
  gap: 40px;
}
.cabecalho-menu-item{
  color: antiquewhite;
  font-size: 30px;
  font-family: 'Smooch Sans', sans-serif;
  font-weight: 400;
  padding-bottom: 15px;
}
.cabecalho-menu-item:hover{
  border-bottom: 2px solid #3a6073;
  padding-bottom: 13px;
  transition: all 0.3s linear;
}

.conteudo{
  margin-bottom: 48px;
  border-top: 0.5px solid #3a6073;
}
.conteudo-p1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}

.conteudo-p1-escrito{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.conteudo-p1-escrito-titulo{
  font-family: 'Fredoka', sans-serif;
  color: antiquewhite;
  font-weight: 400;
  font-size: 50px;
}
.conteudo-p1-escrito-sub{
  font-family: 'Fredoka', sans-serif;
  color: antiquewhite;
  font-weight: 400;
  font-size: 20px;
}

.conteudo-p1-imagem{
  height: 550px;
  width: 400px;
  border: none;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  box-shadow: 1px 1px 8px 1px #16222a;
}

.conteudo-p2-imagem, .conteudo-p3-imagem{
  height:400px;
  width: max-content;
  border: none;
}



.rodape{
  border-top:0.5px solid #3a6073;
  background-color: #16222a;
}
.rodape-links{
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: space-around;
}
.rodape-links-item{
  color: #3a6073;
  size: 55px;
}