*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body{
  margin: 0 auto;
  padding: 0 auto;
  height: 100%;
  width: 100%;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
}
.menu{
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 50px;
  background-color: #8e55da;
}
.menu .logoText{
  margin-left: 25px;
  color: aliceblue;
}
.menu .menuOptions{
  height: 100%;
  align-items: center;
  align-content: center;
}
.menu .menuOptions ul {
  margin-top: 13px;
  align-content: center;
}
.menu .menuOptions ul li {
  display: inline;
  text-decoration: none;
  margin-right: 10px;
}
.menu .menuOptions ul li a{
  text-decoration: none;
  height: 100%; 
  letter-spacing: 2px;
  padding: 10px;
  font-size: 19px;
  color: aliceblue;
}
.menu .menuOptions ul li a:hover{
  background-color: aliceblue;
  color: rgb(83, 83, 83);
  transition: all linear 0.5s;
}
.menu .menuOptions ul li input{
  height: 25px;
  text-align: center;
  border: none;
  border-radius: 1.5px;
}

.aboutMe{
  width: 100%;
  padding: 0px;
}
.aboutMe > h1{
  font-size: 35px;
  color: rgb(83, 83, 83);
  text-align: center;
  margin-bottom: 10px;
}
.aboutMe > div{
  margin: 0 auto;
  padding: 10px;
  border: none;
  background-color: rgba(189, 189, 189, 0.356);
  border-radius: 10px;
  width: 50%;
  letter-spacing: 1.5px;
  font-size: 18px;
  color: rgb(83, 83, 83);
  text-align: center;
}
.contacts ul li{
display: inline;
text-decoration: none;
}
.contacts ul li a{
  text-decoration: none;
}
.contacts ul li a i{
  margin-right: 15PX;
  font-size:40px;
  text-shadow:2px 2px 4px #000000;
}

.container{
  margin: 0 auto;
  padding: auto;
  width: 70%;
  display: grid;
  grid-template-columns: 30% 50%;
}

.container .containerIMG img{
  width: 350px;
  height: 95%;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 7px 10px 5px #bfa9d9;
}
.container .contAbout .titleLarge{
  color: #9141d5;
  letter-spacing: 2px;
}
.works{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  margin: 10px;
}
.works .works_1{
  text-align: center;
  height: 200px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to BOTTOM, #33ccff 0%, #ff99cc 100%);
}
.works .works_1 > h1{
  color: aliceblue;
  margin-top: 10px;
  margin-bottom: 5px;
}
.works .works_1 > h3{
  color: aliceblue;
}